{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col">
      <br/>
      <form method="post" enctype="multipart/form-data">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">.mp3, .flac</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="file"
                   id="file-input">
            <label class="custom-file-label" id="custom-file-label">Select file
              for Speech-to-text conversion
              demo</label>
          </div>
          <div class="input-group-append">
            <input type="submit" value="Upload" class="btn btn-success"/>
          </div>

        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block error %}
  {% if error %}
    <br/>
    <div class="row">
      <div class="col text-center text-uppercase">
        <p class="font-weight-bold text-danger">{{ error }}</p>
      </div>
    </div>
  {% endif %}
{% endblock %}